.siteTitle{
	color: black;
}

.siteTitleText{
	margin-left: 3px;
}

.content{
	margin-bottom: 30px;
}

body{
	max-width: 800px;
	margin-left: 30px;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element{
  .center-block();
}

.dayTable{
	margin-left: 0px;
	max-width: 800px;
}

.dayRow{
	margin-bottom: 2px;
}

.dayRowText{
	margin-left: 3px;
}